<notifier-container></notifier-container>
<div class="card m-3">
    <h5 class="card-header">Create Course</h5>
    <div class="card-body">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-12">
                    <label>Course Title</label>
                    <input type="text" class="form-control" placeholder="Course Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Course Title is required</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="Price" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Price is required</div>
                    </div>
                </div>
                
                <div class="form-group col-12">
                    <label>Picture</label>
                    <input type="file" (change)="onFileChange($event)" class="form-control" formControlName="picture" />
                    <img [src]="pictureUrl" class="img-fluid avatar avatar-ex-large"/>
                </div> 
                
              
            </div>
            
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-primary mx-2" type="submit">{{ !course ? 'Create course' : 'Update course' }}</button>
                
                <a class="btn btn-primary " type="reset" [routerLink]="['/admin','courses']">Back</a>
            </div>
        </form>
    </div>
</div>